<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/default.js"></script>
<script src="/arquivos/owl-carousel.js"></script>
<script src="/arquivos/geral.js"></script>
<script src="/arquivos/cart.js"></script>