<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon2.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        PAGUE EM ATÉ 12X SEM JUROS

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article>