<article class="icon">
    <!-- MUDE APENAS O LINK DA IMAGEM SRC="LINK" -->
    <img src="/arquivos/home-icon1.png" class="img-responsive" />
    <p>
        <!-- TEXTO ENTRE O ESPAÇO -->

        FRETE GRÁTIS P/ TODO O BRASIL

        <!-- TEXTO ENTRE O ESPAÇO -->
    </p>
</article>