<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

#set($id = $product.Id) #set($idSku = $product.productVariantId) #set($uri = $product.Uri) #set($escapedName = $product.HtmlEscapedName) #set($collection = $product.HightLight) #if ($product.IsInStock)
<article class="box-item">
    #else
    <article class="box-item hidden">
        #end
        <div class="discount">$product.DiscountHightLight</div>

        <a class="product-image" title="$escapedName" href="$uri">
         $product.GetImageTag(2)
     </a>
        <div class="product-info">
            <p class="product-name">
                <a title="$escapedName" href="$uri">
                 $product.Name
             </a>
            </p>
            #if ($product.IsInStock)
            <div class="price-box">
                <a title="$escapedName" href="$uri">
                     #if ($product.HasBestPrice)
                         <span class="old-price">
                            De: $product.ListPrice
                         </span>
                         <span class="best-price">
                             Por: $product.BestPrice
                         </span>
                     #else
                         <span class="old-price"></span>
                         <span class="best-price">
                             $product.BestPrice
                         </span>                    
                     #end
                     
                    #if ($product.NumbersOfInstallment > 1)
                        <span class="installment">
            				ou ${product.NumbersOfInstallment}x de $product.InstallmentValue
                		</span>
                	#else
                	    <span class="installment">
            			
                		</span>
                    #end
                    
                 </a>
            </div>


            #end

        </div>
        #if ($product.IsInStock) $product.BottomBuyAsynchronous #else
        <button class="out-of-stock">Produto Esgotado</button> #end
    </article>