@import './variables';
@font-face {
    font-family: "fonte-light-italic";
    src: url("/arquivos/futura-light-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-light";
    src: url("/arquivos/futura-light.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-regular";
    src: url("/arquivos/futura-regular.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium";
    src: url("/arquivos/futura-medium.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium-italic";
    src: url("/arquivos/futura-medium-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold";
    src: url("/arquivos/futura-bold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold-italic";
    src: url("/arquivos/futura-bold-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-extrabold";
    src: url("/arquivos/futura-extrabold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-black";
    src: url("/arquivos/futura-black.ttf.css");
    font-style: normal;
    font-weight: normal;
}


/*header*/

.topo {
    background: #f5f5f5;
    padding: 15px 0;
}

.topo img {
    display: block;
    margin: 0 auto;
    max-width: $logo-max-width;
}


/*********************************
************* PADRAO *************
*********************************/

body {
    padding: 0 !important;
}

body,
* {
    font-family: 'fonte-regular', sans-serif;
    font-size: 16px;
}

.max-container {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none !important;
}

.table thead th {
    vertical-align: bottom;
    color: $theme-color-5;
    letter-spacing: 1px;
}

td.product-name a {
    color: #333 !important;
    font-size: 16px;
}

i::before {
    color: $theme-color-2;
}

.cart-more-options.span7 {
    margin: 0;
}

.onda-v1 .mw5 {
    max-width: 16rem;
    font-family: 'fonte-light';
    letter-spacing: 1px;
}

button,
.btn {
    background: $theme-color-2 !important;
    color: white !important;
    border-radius: 0 !important;
    padding: 0px 20px !important;
    font-family: 'fonte-light' !important;
    letter-spacing: 1px;
    box-shadow: none !important;
    font-size: 18px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.onda-v1 .black-60 {
    color: #000 !important;
}

.full-cart .summary-totalizers .empty {
    width: 40px;
    display: none !important;
}

.full-cart .summary-totalizers .monetary {
    padding: 8px 0;
    text-align: right !important;
}

.full-cart .summary-totalizers .info {
    text-align: right;
    font-family: 'fonte-light' !important;
}

p.coupon-data {
    text-align: right !important;
}

p.coupon-data a {
    color: #000;
}

h1 {
    color: #000 !important;
}

.link-choose-more-products {
    margin-right: 15px;
    color: $theme-color-1;
    border: 2px solid $theme-color-1;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px;
    vertical-align: middle;
}

.client-pre-email .btn-success {
    height: calc(100% - 4px) !important;
}


/**********************************************************
  **************** CONTAINER DEPARTAMENTOS ******************
  **********************************************************/

.modal-body,
.default-modal {
    background: $theme-color-2;
}

button.btn.btn-large.payment-unauthorized-button {
    background: white !important;
    margin-top: 20px;
    color: $theme-color-3 !important;
}

.container-footer {
    background: #f5f5f5;
    padding-top: 70px;
}

.container-footer .max-container {
    max-width: 950px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.icon-pag-container {
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 60px;
}

.dep-links {
    margin-bottom: 16px;
}

.dep-links li {
    margin-bottom: 10px;
}

a.icon-social {
    display: inline-block;
    margin-right: 20px;
}

.dep-links h4 {
    color: $theme-color-5;
    font-family: 'fonte-bold';
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.dep-links a {
    font-family: 'fonte-regular';
    font-size: 14px;
    color: $theme-color-5;
}

.dep-links li a>img {
    margin-right: 10px;
    filter: brightness(0);
}

a.icon-social img {
    filter: brightness(0);
}


/**********************************************************
******************** CONTAINER VINCI **********************
**********************************************************/

.container-vinci {
    background: $theme-color-2;
}

.container-vinci .max-container {
    border-top: 1px solid $theme-color-7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 20px;
}

.container-vinci span {
    font-family: 'fonte-light';
    font-size: 14px;
    text-align: center;
    color: $theme-color-7;
    letter-spacing: 1px;
}

.container-vinci .max-container>* {
    flex: 1;
}

.container-vinci span:last-child p {
    font-family: 'fonte-bold';
    color: #ffffff;
    font-size: 9px;
    display: inline-block;
    margin-right: 20px;
}

@media all and (max-width: 991px) {
    .newsletter .max-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-input #email {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .container-input .btn-send {
        width: 100%;
        box-sizing: border-box;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .container-input #email {
        text-align: center;
    }
    .container-footer {
        padding: 50px 0;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon-pag-container {
        margin: 0 auto;
    }
    .dep-links {
        margin: 0 auto;
    }
    .dep-links {
        margin-top: 20px;
    }
    .container-vinci .max-container {
        flex-direction: column;
        text-align: center;
    }
    .logo-vinci {
        margin: 20px 0;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .logo-vinci p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
    }
}