@import './variables';

/**********************************************************
**************** CONTAINER  NEWSLETTER ********************
**********************************************************/

.newsletter {
    background: $theme-color-2;
    padding: 30px 0;
}

.newsletter .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
}

.newsletter .title {
    font-family: 'fonte-bold';
    font-size: 18px;
    color: #ffffff;
}

.newsletter .subtitle {
    font-family: 'fonte-regular';
    font-size: 16px;
    color: #ffffff;
    max-width: 220px;
    margin-top: 5px;
}

.container-input #email {
    font-family: 'fonte-regular';
    height: 40px;
    border: 1px solid $theme-color-3;
    font-size: 14px;
    padding: 0 20px;
    width: 370px;
    color: $theme-color-9;
    margin-right: 16px;
}

.container-input #email::placeholder {
    color: $theme-color-10;
}

.container-input .btn-send {
    font-family: 'fonte-bold';
    height: 40px;
    background: $theme-color-6;
    border: 1px solid $theme-color-6; //$theme-color-3
    font-size: 14px;
    width: 170px;
    text-align: center;
    color: $theme-color-1;
    margin: 0;
    padding: 0;
}


/**********************************************************
  **************** CONTAINER DEPARTAMENTOS ******************
  **********************************************************/

.container-footer {
    background: $theme-color-1;
}

.container-footer .max-container {
    max-width: 950px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.icon-pag-container {
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 60px;
}

.dep-links {
    margin-bottom: 16px;
}

.dep-links li {
    margin-bottom: 10px;
}

a.icon-social {
    display: inline-block;
    margin-right: 20px;
}

.dep-links h4 {
    color: $theme-color-3;
    font-family: 'fonte-bold';
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.dep-links a {
    font-family: 'fonte-regular';
    font-size: 14px;
    color: $theme-color-5;
    margin-left: 5px;
}

.dep-links li a>img {
    margin-right: 10px;
}


/**********************************************************
******************** CONTAINER VINCI **********************
**********************************************************/

.container-vinci {
    background: $theme-color-2;
}

.container-vinci .max-container {
    border-top: 1px solid $theme-color-7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 20px;
}

.container-vinci span {
    font-family: 'fonte-light';
    font-size: 14px;
    text-align: center;
    color: $theme-color-7;
    letter-spacing: 1px;
}

.container-vinci .max-container>* {
    flex: 1;
}

.container-vinci span:last-child p {
    font-family: 'fonte-bold';
    color: #ffffff;
    font-size: 9px;
    display: inline-block;
    margin-right: 20px;
}

@media all and (max-width: 991px) {
    .newsletter .max-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-input #email {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .container-input .btn-send {
        width: 100%;
        box-sizing: border-box;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .line {
        background: $theme-color-2;
    }
    .dep-links a {
        margin-left: 0;
    }
    .newsletter .subtitle {
        margin: 10px auto;
    }
    .container-input #email {
        text-align: center;
    }
    .container-footer {
        padding: 50px 0;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon-pag-container {
        margin: 0 auto;
    }
    .dep-links {
        margin: 0 auto;
    }
    .dep-links {
        margin-top: 20px;
    }
    .container-vinci .max-container {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }
    .logo-vinci {
        margin: 20px 0;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .logo-vinci p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
    }
    .container-vinci span {
        margin: 10px auto;
    }
}