@import './variables';
@font-face {
    font-family: "fonte-light-italic";
    src: url("/arquivos/futura-light-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-light";
    src: url("/arquivos/futura-light.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-regular";
    src: url("/arquivos/futura-regular.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium";
    src: url("/arquivos/futura-medium.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium-italic";
    src: url("/arquivos/futura-medium-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold";
    src: url("/arquivos/futura-bold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold-italic";
    src: url("/arquivos/futura-bold-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-extrabold";
    src: url("/arquivos/futura-extrabold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-black";
    src: url("/arquivos/futura-black.ttf.css");
    font-style: normal;
    font-weight: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

 :focus {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background: #f7f7f7;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

* {
    text-rendering: optimizeLegibility;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body {
    -webkit-font-smoothing: antialiased;
}

a:focus {
    outline: thin dotted;
}

a {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

#ajaxBusy {
    display: none !important;
}

fieldset {
    border: 1px solid #BBB;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    outline: 0;
    *vertical-align: middle;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

.visible-mobile {
    display: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

 ::-moz-selection {
    background: #BCF;
    text-shadow: none;
}

 ::selection {
    background: #BCF;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

.pace {
    display: none;
}

.container-search .busca {
    position: relative;
    box-sizing: border-box;
}

.container-search .busca legend,
.container-search .busca legend,
.container-search .busca label,
.container-search .busca select {
    display: none;
}

body,
* {
    font-family: 'fonte-regular', sans-serif;
    font-size: 18px;
}

.max-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.news-sucess,
.news-error,
.news-ok {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999999999999;
    background: #00000047;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container {
    background: white;
    padding: 20px 10px;
    font-size: 1.5rem;
    width: calc(100% - 20px);
    max-width: 320px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    height: auto;
    max-height: 400px;
    font-family: 'fonte-regular';
}

.news-error-txt {
    border: 3px solid $theme-color-1;
    color: #F23A29;
}

.news-ok-txt {
    border: 3px solid #ffb600;
    color: #ffb600;
}

.news-sucess-txt {
    border: 3px solid #63dc3e;
    color: #63dc3e;
}

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    background: white;
    z-index: 99999999999999999999999999 !important;
    position: relative;
    border: 2px solid $theme-color-1;
    top: -16px;
    margin-top: -3px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    max-width: 540px;
    margin-left: 5px;
}

li.ui-menu-item {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.whatsapp-fixed {
    position: fixed;
    z-index: 50;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 991px) {
    ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
        background: white;
        max-width: 100%;
        left: 0 !important;
        width: 100% !important;
        border: 0;
        margin: 0;
        top: 0 !important;
        position: fixed;
        display: none !important;
        height: calc(100% - 60px);
    }
    .whatsapp-fixed {
        bottom: 50%;
        right: 0;
        width: 50px;
        height: 50px;
        background: white;
        padding: 10px 0;
        box-sizing: border-box;
        border-radius: 20px 0 0 20px;
    }
    .whatsapp-fixed img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.banner-desktop,
.banner-tablet,
.banner-mobile,
.banner-minimobile {
    display: none !important;
}

.banner-desktop img,
.banner-tablet img,
.banner-mobile img,
.banner-minimobile img {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .banner-desktop {
        display: block !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .banner-tablet {
        display: block !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 568px) {
    .banner-mobile {
        display: block !important;
    }
}

@media screen and (max-width: 567px) {
    .banner-minimobile {
        display: block !important;
    }
}

i.fa.fa-lock {
    display: none;
}

.box-banner img {
    width: 100%;
    height: auto;
}


/** ************************************************************************************ **/


/** *********** OWL CAROUSEL **/


/** ************************************************************************************ **/

.owl-carousel {
    position: relative;
    padding: 0;
}

.owl-controls .owl-pagination {
    height: 0;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 10;
}

.owl-controls .owl-pagination .owl-page {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: transparent;
    height: 13px;
    width: 13px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.owl-controls .owl-pagination .owl-page:hover {
    background-color: #f8f8f8;
}

.owl-controls .owl-pagination .owl-page.active,
.owl-controls .owl-pagination .owl-page.active:hover {
    background-color: #fff;
}

.owl-controls .owl-buttons {
    height: 0;
}

.owl-controls .owl-buttons>div {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.owl-controls .owl-buttons>div:hover {
    color: #e7e7e7;
}

.owl-controls .owl-buttons>div.owl-prev {
    left: 15px;
}

.owl-controls .owl-buttons>div.owl-next {
    right: 15px;
}