@import './variables';

/****************************************************************
************************ MAIN BANNER ****************************
****************************************************************/

.main-banner .arrow-banner {
    width: 20px;
    height: 20px;
}

.main-banner .owl-prev {
    left: -10px !important;
}

.main-banner .owl-next {
    right: -10px !important;
}

.main-banner .owl-pagination {
    display: none;
}


/****************************************************************
  ************************* MAIN ICONS ****************************
  ****************************************************************/

.main-icons {
    margin: 20px auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 1px solid $theme-color-10;
    margin-bottom: 40px;
}

.main-icons .icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background: #ffffff;
    padding: 0px 25px;
}

.main-icons .icon+.icon {
    border-left: 1px solid $theme-color-10;
}

.main-icons .icon p {
    text-align: center;
    max-width: 150px;
    font-size: 14px;
    font-family: 'fonte-bold';
    color: $theme-color-9;
    padding: 20px 0;
    margin-left: 25px;
}

.main-icons .icon img {
    filter: brightness(0);
}


/**********************************************************
  ********************** MEDIA QUERY 991PX ******************
  **********************************************************/

@media all and (max-width: 991px) {
    .main-icons {
        flex-direction: column;
    }
    .main-icons .icon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 !important;
    }
    .main-icons .icon p {
        padding: 0px !important;
        margin: 10px 0;
    }
    .main-icons .icon+.icon {
        border-left: unset !important;
        border-top: 1px solid $theme-color-11;
    }
}