@charset "UTF-8";
@import './variables';
@font-face {
    font-family: "fonte-light-italic";
    src: url("/arquivos/futura-light-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-light";
    src: url("/arquivos/futura-light.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-regular";
    src: url("/arquivos/futura-regular.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium";
    src: url("/arquivos/futura-medium.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-medium-italic";
    src: url("/arquivos/futura-medium-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold";
    src: url("/arquivos/futura-bold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-bold-italic";
    src: url("/arquivos/futura-bold-italic.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-extrabold";
    src: url("/arquivos/futura-extrabold.ttf.css");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "fonte-black";
    src: url("/arquivos/futura-black.ttf.css");
    font-style: normal;
    font-weight: normal;
}

.close-login {
    position: fixed;
    z-index: 9999999999;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
}

.close-login img {
    filter: brightness(0);
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*icons*/

i.vtexid-icon-mail,
.vtexid-icon-facebook,
.vtexid-icon-google-plus,
.vtexid-icon-lock {
    display: none;
}


/*footer*/

.vtexIdUI .modal-footer {
    background: transparent !important;
    border: 0 !important;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


/*seta voltar*/

.vtexid-icon-arrow-left:before {
    content: "\e600";
    color: $theme-color-2;
    vertical-align: text-bottom;
}

a.vtexIdUI-back-link {
    color: $theme-color-2;
    font-family: 'fonte-medium';
    margin: 0 !important;
    margin-top: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}


/*container*/

.vtexIdUI {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    top: 45% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    width: calc(100% - 15px) !important;
    transform: translateY(-50%) !important;
    max-width: 400px !important;
    overflow: unset !important;
}

.vtexIdUI .modal-body {
    background: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.vtexIdUI .modal-header {
    background: unset !important;
    border: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}


/*buttons*/

.vtexIdUI .btn {
    font-family: 'fonte-light' !important;
    font-weight: unset !important;
    text-shadow: unset !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    border: 0 !important;
    height: 50px !important;
    line-height: 50px;
    padding: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    background: $theme-color-2 !important;
    color: $theme-color-1 !important;
    float: unset !important;
    width: 100%;
    display: block;
}

input {
    outline: none !important;
}


/*inputs*/

input {
    border: 2px solid $theme-color-2 !important;
    box-shadow: none !important;
    border-radius: unset !important;
    padding: 0px 10px !important;
    height: 50px !important;
    font-family: 'fonte-light' !important;
    font-size: 20px !important;
    color: $theme-color-10 !important;
}


/*background*/

div#vtexIdContainer {
    background: $theme-color-1 !important;
}


/*header buttons*/

.vtexIdUI-heading {
    color: $theme-color-3 !important;
    font-family: 'fonte-regular' !important;
    font-size: 0 !important;
}

.vtexIdUI-heading::after {
    font-size: 20px !important;
    letter-spacing: 1px !important;
}

.vtexIdUI-heading::before {
    display: block;
    content: "";
    width: 200px !important;
    height: 100px !important;
    background: url("/arquivos/logo.png") no-repeat;
    background-position: center !important;
    background-size: contain !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}

.vtexIdUI-heading {
    margin: 0 !important;
    margin-bottom: 20px !important;
}


/*input de codigo de email*/

.vtexIdUI .vtexIdUI-auth-code .vtexIdUI-code-field {
    margin: 0 auto;
    width: 100%;
    margin: 20px 0;
}

.vtexIdUI .vtexIdUI-auth-code .info-code {
    color: $theme-color-2;
    margin-bottom: 4px;
    font-family: 'fonte-medium';
    font-size: 16px;
    font-weight: unset !important;
}


/*email e senha links*/

div#vtexIdUI-classic-login a {
    color: $theme-color-2 !important;
    font-size: 15px !important;
    font-family: 'fonte-light' !important;
    margin-bottom: 20px !important;
}

div#vtexIdUI-classic-login .control-label {
    font-family: 'fonte-medium';
    color: $theme-color-2;
    font-size: 18px !important;
    text-transform: uppercase;
}


/*recuperar senha a*/

div#vtexIdUI-change-pswd span {
    color: $theme-color-2 !important;
    font-size: 18px !important;
    font-family: 'fonte-light' !important;
    margin-bottom: 20px !important;
    color: $theme-color-2 !important;
    letter-spacing: 1px;
}

.vtexid-icon-user:before {
    content: "\e605";
    color: $theme-color-2;
}


/*TELA 1 - TELA INICIAL*/

div#vtexIdUI-auth-selector .vtexIdUI-heading::after {
    content: "Confirmar identidade";
}


/*TELA 2 - CONFIRMAÇAO DE EMAIL*/

div#vtexIdUI-email-confirmation .vtexIdUI-heading::after {
    content: "Confirmação de email";
}


/*tela 3 - codigo email*/

div#vtexIdUI-confirm-access-code .vtexIdUI-heading::after {
    content: "Confime seu código por email";
}

div#vtexIdUI-classic-login .vtexIdUI-heading::after {
    content: "Insira seu email e senha";
}

div#vtexIdUI-change-pswd .vtexIdUI-heading::after {
    content: "Mude sua senha";
}

@media all and (max-width: 567px) {
    .vtexIdUI-heading::before {
        display: block;
        content: "";
        /* width: 200px !important; */
        height: 60px !important;
        background: url("/arquivos/logo.png") no-repeat;
        background-position: center !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
}