@import './variables';
.product-image .zoomPad {
    position: relative;
}

.product-image .zoomWindow {
    overflow: hidden;
    left: 0 !important;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 3;
}

.product-image .zoomWrapperImage img {
    max-width: none !important;
}

.product-image .zoomWrapperTitle {
    display: none !important;
}


/**********************************************************
  ******************* PRODUCT CONTAINER *********************
  **********************************************************/

.bg-product {
    background: #ffffff;
}


/**********************************************************
  ********************** BREAD BRUMB ***********************
  **********************************************************/

.bread-brumb>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    border-bottom: 1px solid $theme-color-2;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.bread-brumb li::after {
    content: '>';
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-9;
    padding: 0px 5px;
}

.bread-brumb li.last::after {
    display: none;
}

.bread-brumb li {
    display: inline-block;
    text-transform: capitalize;
}

.bread-brumb a {
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-9;
}


/**********************************************************
  ******************* PRODUCT CONTAINER *********************
  **********************************************************/

.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
}

.product-image {
    flex: 1;
    position: relative;
}

.product-info {
    flex: 1;
    max-width: 450px;
}

.discount-product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.discount-product p {
    background: $theme-color-1;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'fonte-bold';
    color: $theme-color-7;
    letter-spacing: 1px;
    padding: 5px 10px;
}


/**********************************************************
  ******************* PRODUCT IMAGE *************************
  **********************************************************/

.product-image #show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-image #show #include {
    width: 470px;
    height: 470px;
    padding: 10px;
    box-sizing: border-box;
}

#show #include #image-main {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

ul.thumbs {
    max-width: 470px;
    display: flex;
    justify-content: center;
}

ul.thumbs .owl-next {
    right: -10px;
}

ul.thumbs .owl-prev {
    left: -10px;
}

ul.thumbs li {
    width: 90px;
    height: 90px;
    border: 1px solid $theme-color-3;
    padding: 2px;
    box-sizing: border-box;
    margin: 0 auto;
}

ul.thumbs li+li {
    margin-left: 10px;
}

ul.thumbs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/**********************************************************
  ******************* PRODUCT  BUY INFO *********************
  **********************************************************/

.product-name .productName {
    font-family: 'fonte-medium';
    font-size: 24px;
    color: $theme-color-10;
    margin-bottom: 10px;
    display: block;
}

.product-rating {
    margin-bottom: 20px;
}

.product-rating strong {
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-6;
}

.valor-de {
    font-family: 'fonte-medium';
    font-size: 24px;
    color: $theme-color-9;
    text-decoration: line-through;
}

.valor-por {
    font-family: 'fonte-bold';
    font-size: 32px;
    color: $theme-color-2;
}

.valor-dividido {
    font-family: 'fonte-medium';
    font-size: 18px;
    color: $theme-color-9;
}

.economia-de,
.preco-a-vista {
    display: none !important;
}

.buy-button-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-button {
    font-family: 'fonte-bold';
    font-size: 22px;
    color: #ffffff;
    display: block;
    width: 100%;
    max-width: 290px;
    height: 50px;
    line-height: 50px;
    background: $theme-color-2;
    text-align: center;
    text-transform: uppercase;
}

.pull-left {
    float: unset !important;
}

.product-details .sku-selector-container {
    margin-top: 20px;
}

.sku-selector li.specification {
    font-family: 'fonte-bold';
    font-size: 32px;
    color: #000;
}

.product-details .box-qtd {
    position: relative;
    height: 50px;
    max-width: 120px;
    z-index: 10;
    margin-right: 38px;
    box-sizing: border-box;
    border: 1px solid $theme-color-10;
}

.product-details .box-qtd .qtd {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    font-family: 'fonte-medium';
    font-size: 18px;
    color: $theme-color-9;
}

.sku-selector li.specification {
    font-family: 'fonte-bold';
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.product-details .sku-selector input {
    display: none;
}

.product-details .sku-selector label {
    height: 30px;
    line-height: 30px;
    border: 2px solid $theme-color-5;
    display: inline-block;
    margin-right: 5px;
    padding: 0px 10px;
}

.sku-selector label.sku-picked {
    background: $theme-color-5;
    color: $theme-color-1;
}

.product-details .box-qtd::before {
    content: "Quantidade";
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-1;
    position: absolute;
    left: 0;
    top: -30px;
}

.product-details .box-qtd .btn {
    background: white;
    border: 0;
    padding: 0;
    font-family: 'fonte-bold';
    font-size: 30px;
    color: $theme-color-10;
    width: 30px;
    text-align: center;
    z-index: 999;
}

.product-details .box-qtd .btn-mais {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid $theme-color-10;
}

.product-details .box-qtd .btn-menos {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid $theme-color-10;
}

.product-details .shipping-box {
    position: relative;
}

.shipping-box p,
.shipping-box .close,
.shipping-box .quantity,
.shipping-box .header {
    display: none;
}

.shipping-box .prefixo {
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-9;
    display: inline-block;
}

input#txtCep,
input#txtCep::placeholder {
    display: block;
    height: 35px;
    font-family: 'fonte-medium';
    font-size: 14px;
    padding: 0px 10px;
    color: $theme-color-9;
    box-sizing: border-box;
    margin-top: 5px;
    width: 120px;
}

#btnFreteSimulacao {
    background: $theme-color-6;
    width: 100%;
    max-width: 196px;
    height: 35px;
    border: 0;
    text-transform: uppercase;
    font-family: 'fonte-bold';
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}

.freight-values table thead {
    display: none;
}

.freight-values table {
    width: 100%;
    margin: 10px 0;
}

.freight-values tbody tr td:last-child {
    display: none;
}

.freight-values tbody tr td {
    background: #f7f7f7;
    color: #636363;
    padding: 15px;
    font-family: 'fonte-light';
    font-size: 18px;
    text-align: center;
}

.freight-values tbody tr td:first-child,
.freight-values tbody tr td:nth-child(2) {
    border-right: 1px solid white;
    text-align: center;
}

span.cep-busca a {
    font-family: 'fonte-light';
    letter-spacing: 1px;
    color: $theme-color-9;
    display: block;
}


/**********************************************************
  ********************** PRODUCT DESCRIPTION ****************
  **********************************************************/

.product-description {
    margin-top: 80px;
    margin-bottom: 60px;
}

.item-descrip {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.item-descrip li {
    background: #EBEBEB;
    margin-right: 4px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    text-align: center;
    transition: 0.1s;
}

.item-descrip li a {
    color: $theme-color-9;
    font-family: 'fonte-bold';
    font-size: 14px;
}

.product-desc-container {
    background: #fff;
    padding: 20px 25px;
    min-height: 200px;
}

.item-descrip li.item-desc-active {
    color: $theme-color-10;
    font-family: 'fonte-bold';
    border-bottom: 5px solid $theme-color-2;
    background: #fff;
    font-size: 18px;
    padding: 3px 0;
}

ul.item-descrip li.item-desc-active a {
    font-size: 18px;
}

#descricao {
    font-family: 'fonte-medium';
    font-size: 14px;
    color: $theme-color-9;
}

#descricao p+p {
    margin-top: 10px;
}

div#especificacao,
div#avaliacao {
    display: none;
}

div#caracteristicas>h4 {
    display: none;
}


/**********************************************************
********************** PRODUTO N DISPONIVEL ******************
**********************************************************/

.notifyme.sku-notifyme {
    position: absolute;
    top: 0;
    left: 0;
    background: $theme-color-2;
    z-index: 50;
    padding: 20px 10px;
    text-align: center;
}

.notifyme.sku-notifyme h3 {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $theme-color-1;
}

.notifyme.sku-notifyme p {
    color: $theme-color-1;
    font-family: 'fonte-light';
    margin-bottom: 10px;
    font-size: 20px;
}

.notifyme.sku-notifyme input {
    display: block;
    margin-bottom: 5px;
    border: 0;
    outline: none;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
}

.notifyme.sku-notifyme .btn-ok {
    background: $theme-color-3;
    color: $theme-color-1;
}


/**********************************************************
  ********************** MEDIA QUERY 991PX ******************
  **********************************************************/

@media all and (max-width: 991px) {
    .product-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-image {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .product-info {
        margin: 0 auto;
        text-align: center;
    }
    .avalie-produto {
        top: 250px;
    }
    ul#ulPubliqueResenha {
        top: 300px;
    }
    .buy-button-box {
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .box-qtd {
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
    .box-qtd::before {
        text-align: center;
        margin: 0 auto;
        right: 0;
    }
    input#txtCep,
    input#txtCep::placeholder {
        max-width: 245px;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .item-descrip {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-descrip li {
        margin-right: unset;
        width: 100%;
        margin-bottom: 10px;
    }
    #btnFreteSimulacao {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        float: unset;
        transform: unset;
        position: static;
    }
    input#txtCep,
    input#txtCep::placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 567PX ******************
  **********************************************************/

@media all and (max-width: 567px) {
    .shipping-box .prefixo {
        width: 100%;
    }
    .product-image #show #include {
        width: 100%;
        height: auto;
    }
    ul.thumbs li {
        width: 70px;
        height: 70px;
    }
    .product-name .productName {
        font-size: 25px;
    }
    .valor-de {
        font-size: 20px;
    }
    .valor-por {
        font-size: 24px;
    }
    .bread-crumb li a {
        font-size: 12px;
    }
}